
.ui-btn-corner-all {
	-moz-border-radius: 0.5em /*{global-radii-buttons}*/;
	-webkit-border-radius: 0.5em /*{global-radii-buttons}*/;
	border-radius: 0.5em /*{global-radii-buttons}*/;
}

#popupPanel {
    width: 256px;
}

#popupPanel-screen {
    background: rgba(0,0,0,.7);
    margin-bottom:-1px;

}

.mainHeader {
	background:#35a7dd url('../img/header_bknd.png') repeat-x top left;
	margin:0px;
	height:30px;
	padding:0px;
	padding-top:10px;
	

}

.mainContent {
	height:100%;
	min-height:400px;
	margin:0px 0px 0px 0px;
	padding-top:0px;
}

.mainPage {
	color:#dcdcdc;
	background:#ffffff;
	margin:0px;
    padding:0px 0px;
	
}

.mainFooter {
	margin:0px 0px 0px 0px;
	border:0px;
	height:30px;
	padding:4px;
	background:#35a7dd url('../img/header_bknd.png') repeat-x top left;
}

.contentModule {
	background:#ffffff;
	color:#929292;
	padding:0px;
	margin:8px 0px;
	border: solid 1px #929292;
}

.errorMessage {
	color:#ff0000;
}

.footerPopupButton {
	margin:4px 4px 4px 4px;
}

.ui-background-striped {
	background:#ffffff url('../img/bknd.png') repeat top left;
}

.ui-background-chrome {
	color:#000000;
	background:#ffffff url('../img/bknd_list1.png') repeat top left;
}

.ui-border-none {
	border:0px;
	padding:8px 0px;
	margin:0px;
}

.ui-icon-foo {
	background-image: url("../img/menu_icon.png");
}

.ui-icon-menu {
	float:left;
	position:relative;
	width:78px;
	height:78px;
	margin:3px;
}